﻿@model Message

@{
    ViewBag.Title = "Add a new message";
}

<h1>Write your message!</h1>

<form asp-controller="Messages" asp-action="AddNewMessage" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="MessageID" type="hidden" />

    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title" class="text-danger"></span><br />

    <label asp-for="Topic"></label>
    <input asp-for="Topic" />
    <span asp-validation-for="Topic" class="text-danger"></span><br />

    <label asp-for="Body"></label>
    <input asp-for="Body" />
    <span asp-validation-for="Body" class="text-danger"></span><br />

    <button type="submit">Post</button>
</form>