@using MVCLab2.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>
            @Html.ActionLink("Home", "Index", "Home") <br />
            @Html.ActionLink("Forums", "Index", "Messages")<br />
        </p>
        @RenderBody()
    </div>
</body>
</html>
